<html>
  <head>
    <title>WatchLengthUnit.html</title>
    <script src="js/vue.js"></script>
  </head>
  <body>
    <div id="watch_length_unit">
      <h3>WatchLengthUnit Properties</h3>
      millimeter: <input type="text" v-model="millimeter" /> <br/>
      centimeter: <input type="text" v-model="centimeter" /> <br/>
      decimeter: <input type="text" v-model="decimeter" /> <br/>
      meter: <input type="text" v-model="meter" /> <br/>
      kilometer: <input type="text" v-model="kilometer" /> <br/>
    </div>
    <script src="js/WatchLengthUnit.js"></script>
  </body>
</html>
